{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [".github/workflows/**/*.yml", ".github/workflows/**/*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
